body {
  /* Defaults */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  /* Page Styling */
  font-family: Arial, Helvetica, sans-serif;
   
  /* Page Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  height: 100vh;
}

video {
  display: block;
  width: 640px;
  height: 360px;
}
